@font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 400;
     src: local(''),
     url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
     url('../fonts/rubik-v20-latin-regular.woff') format('woff'); }
     @font-face {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          src: local(''),
          url('../fonts/rubik-v20-latin-500.woff2') format('woff2'), 
          url('../fonts/rubik-v20-latin-500.woff') format('woff'); 
     }
     @font-face {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 700;
          src: local(''),
          url('../fonts/rubik-v20-latin-700.woff2') format('woff2'), 
          url('../fonts/rubik-v20-latin-700.woff') format('woff'); 
     }
     *{
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          transition: all 0.4s;
     }
     body{
          margin: 0;
          padding: 0;
          font-family: 'Rubik', sans-serif;
     }
     .container{
          margin: 0px auto;
          padding: 0px 20px;
          width: 1200px;
     }
     .visually-hidden{
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          overflow: hidden;
          border: 0;
          clip: rect(0 0 0 0);
     }
     .left-box-link-all{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2px 6px 3px 4px;
          width: 72px;
          height: 37px;
          position: relative;
          border-radius: 20px;
          
          background: #DCE6FF;
     }
     .content1{
          color: #000000;
          font-family: sans-serif;
          font-size: 20px;
     }
     .content2{
          color: #000000;
          font-family: sans-serif;
          font-size: 20px;
     }
     .circle{
          position: absolute;
          padding:16px 14px;
          width: 27px;
          height: 20px;
          background-color: rgba(255, 255, 255, 0.753);
          border-radius: 50%;
          top: 0;
          bottom: 0;
          margin: auto 0;
          left: 2px;
     }
     .input-control:checked ~ .circle{
          transform: translateX(38px);
     }
     .input-control:checked ~ .content2{
          color: black;
     }
     .input-control:checked  .content2{
          color: #A6A6A6; 
          color: black;
     }
     .header-top{
          margin-bottom: 30px;
          height: 105px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          background: #F6F6F6;
     }
     .top-box{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
     }
     .left-box-text{
          display: inline;
     }
     .left-box{
          margin-right: 32px;
     }
     .left-box-span{
          margin-right: 96px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #8D8D8D;
     }
     .left-box-link{
          margin-left: 100px;
          padding: 12px 36px;
          text-align: center;
          text-decoration: none;
          background: #FFFFFF;
          border-radius: 60px;
     }
     .left-box-link_1{
          padding: 9px 10px;
          font-weight: 400;
          font-size: 13px;
          line-height: 12px;
          text-align: center;
          text-decoration: none;
          color: #000000;
          border-radius: 50%;
          background: #FFFFFF;
     }
     .left-box-link_2{
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          text-decoration: none;
          color: #A6A6A6;
     }
     .left-box-link_2:active{
          padding: 9px 10px;
          font-weight: 400;
          font-size: 13px;
          line-height: 12px;
          text-align: center;
          text-decoration: none;
          color: #000000;
          border-radius: 50%;
          background: #FFFFFF;
     }
     
     .img-logo{ 
          margin-right: 35px;
          padding: 9px 6px;
          text-decoration: none;
          background: #FFFFFF;
          border-radius: 7px;
     }
     .img{
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #7296EE;
     }
     .img-logo1{
          margin-right: 25px;
     }
     .site-comming{
          padding: 13px 20px;
          background: #7296EC;
          border-radius: 10px;
     }
     .right-box{
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
     }
     .site-comming{
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          text-decoration: none;
     }
     .section-aside{
          padding-top: 50px;
     }
     .site-nav{
          position: relative;
     }
     .navbar-list{
          margin: 0;
          padding: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          list-style: none;
     }
     .navbar-link{
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          text-decoration: none;
          color: #7F7F7F;
     }
     .navbar-span{
          margin-top: 30px;
          position: absolute;
          width: 100%;
          height: 0px;
          border: 1px solid #D1D1D1;
     }
     .section-shop{
          margin-top: 60px;
     }
     .section-list{
          padding-left: 0 ;
          padding-top: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-line-pack: center;
          align-content: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          list-style: none;
          
     }
     .section-title{
          margin: 0 auto;
          padding: 0 20px;
          width: 383px;
          background: #F6F6F6;
          border-radius: 15px;
     }
     .section-title + .section-title{
          margin-left: 10px;
     }
     .section_title{
          margin-top: 60px;
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: #000000;
     }
     .section-link{
          text-decoration: none;
     }
     .section-text{
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #4A4B4C;
     }
     .end-text1{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .end-text1::before {
          content: url("../img/kv.svg");
          vertical-align: middle;
     }
     .end-text2{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .end-text2::before{
          content: url("../img/g.svg");
          vertical-align: middle;
     }
     .end-text3{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .end-text3::before{
          content: url("../img/x+.svg");
          vertical-align: middle;
     }
     .end-text4{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .end-text4::before{
          content: url("../img/photo4.svg");
          vertical-align: middle;
     }
     .end-text5{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .end-text5::before{
          content: url("../img/L.svg");
          vertical-align: middle;
     }
     .end-text6{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .end-text6::before{
          content: url("../img/carimg.svg");
          vertical-align: middle;
     }
     
     .end_sextion_box{
          margin: 0 auto;
          padding: 0 20px ;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          width: 1050px;
          height: 100px;
          background-image: url("../img/Group351.svg");
     }
     .end_sextion_link{
          margin-right: 71px;
          padding: 13px 30px;
          font-weight: 500;
          font-size: 20px;
          text-decoration: none;
          line-height: 24px;
          color: #FFFFFF;
          background: #F78B3B;
          border-radius: 10px;
     }
     .wrapper_section{
          display: flex;
          align-items: center;
          justify-content: space-between;
     }
     .box-section_right{
          margin: 0px 0px 497px 0px;
          height: 502px;
          /* padding: 0 20px; */
     }
     .box-section_right--heigt{
          margin: -510px 0px 940px 0px;
          height: 502px;
     }
     .box_section_left{
          width: 797px;
     }
     
     .box_section__list{
          margin-bottom: 17px;
          padding: 0;
          display: inline-block;
     }
     .box_section__title{
          margin: 0px 10px 10px 0px ;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #F6F6F6;
          border-radius: 15px;
     }
     .box-section__img{
          width: 210px;
          height: 165px;
          padding-right: 15px;
     }
     .li_box {
          padding-bottom: 30px;  
     }
     .li-box-wrapper__title{
          width: 535px;
     }
     .li_box__title{
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: #000000;
     }
     .tesla__site{
          text-decoration: none;
     }
     .li-box__links{
          padding: 17px 322px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-decoration: none;
          color: #000000;
          background: #EAEAEA;
          border-radius: 10px;
     }
     .li-box__links--margin{
          margin-top: 17px;
          padding: 17px 321px;
     }
     .li-box-wrapper__text{
          width: 535px;
     }
     .li-box__text{
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #4A4B4C;
     }
     .li-box__strong1{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .li-box__strong1::before{
          padding-right:10px;
          content: url("../img/kv.svg");
          vertical-align: middle;
     }
     .li-box__strong2{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .li-box__strong2::before{
          padding-right:10px;
          content: url("../img/t.svg");
          vertical-align: middle;
     }
     .li-box__strong3{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .li-box__strong3::before{
          padding-right:10px;
          content: url("../img/pbk.svg");
          vertical-align: middle;
     }
     .li-box__strong4{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #5E5F61;
     }
     .li-box__strong4::before{
          padding-right:10px;
          content: url("../img/solen.svg");
          vertical-align: middle;
     }
     .right-box__text{
          margin: -9px 10px 30px 0px;
          /* margin: 10px auto; */
          padding: 0 20px;
          width: 393px;
          height: 628px;
          background: #F6F6F6;
          border-radius: 15px;
     }
     .box-right__title{
          padding: 20px 0px;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: #000000;
     }
     .right-box__title1{
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #000000;
     }
     .right-box__strong{
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          color: #5E5F61;
     }
     .right-box__span{
          margin: 20px 0;
          border: 1px solid #D2D2D2;
     }
     .site-footer{
          margin-top: 100px;
          padding: 40px 0;
          background: #7297EF;
     }
     .footer__logo-link{
          display: inline-block;
          margin-bottom: 15px;
     }
     .footer__contetn-center{
          padding-bottom: 30px;
          border-bottom: 2px solid  #CECECE;;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
     }
     .center__text-wrapper{
          width: 229px;
     }
     .center__list-wrapper{
          display: flex;
     }
     .center__list:nth-child(1){
          margin-right: 100px;
     }
     .center__text{
          font-weight: 400;
          font-size: 12px;
          line-height: 19px;
          color: #FFFFFF;
     }
     .center__item{
          font-weight: 500;
          font-size: 16px;
          list-style: none;
          line-height: 19px;
          color: #FFFFFF;
     }
     .center__item + .center__item{
          margin-top: 20px;
     }
     .footer__subtitle-wrapper{
          width: 161px;
     }
     .footer__subtitle-wrapper > h4{
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          color: #FFFFFF;
     }
     .footer__social_Link{
          display: inline-block;
          text-decoration: none;
     }
     .footer__social_Link + .footer__social_Link{
          margin-left: 30px;
     }
     .footer__bottom{
          display: flex;
          align-items: center;
          justify-content: space-between;
     }
     .site-main__Section{
          /* margin-bottom: 60px; */
          padding-top: 57px;
     }
     .wrapper__main-section{
          display: flex;
          align-items: center;
          justify-content: space-between;
     }
     .main-section__top-logo{
          height: 946px;
     }
     .wrapper__title{
          width: 792px;
     }
     .all-wrapper__text{
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #000000;
     } 
     .all-wrapper__text + .all-wrapper__text{
          margin-bottom: 24px;
     }
     .all-wrapper__Span{
          display: block;
          width: 100%;
          border: 2px solid #D2D2D2;
     }
     .site-main___interesting{
          margin-top: 60px;
     }
     .box-interest{
          margin-top: 350px;
     }
     .box-interest__wrapper{
          margin: 0 auto;
          padding: 0 20px;
          background: #F6F6F6;
          border-radius: 15px;
     }
     .box-interest__wrapper + .box-interest__wrapper{
          margin-left: 10px;
     }
     .box-interest__title{
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: #000000;
     }
     .box-interest__title2{
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: #000000;
     }
     .wrapper-box_interest{
          display: flex;
          align-items: center;
          justify-content: space-between;
     }
     .interest__strong1::before{
          content: url(../img/photo4.svg);
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-right: 10px;
     }
     .interest__strong2::before{
          content: url(../img/L.svg);
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-right: 10px;
     }
     .interest__strong3::before{
          content: url(../img/carimg.svg);
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-right: 10px;
     }